:$PORT
root * /usr/share/caddy
file_server browse

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

basicauth /$AUUID/* {
    $AUUID $MYUUID-HASH
}

@v2fly {
header Connection *Upgrade*
header Upgrade    websocket
path /duck0ing
}
reverse_proxy @v2fly unix//etc/caddy/vmess

@xray {
header Connection *Upgrade*
header Upgrade    websocket
path /camel0ing
}
reverse_proxy @xray unix//etc/caddy/vless
