:$PORT
root * /usr/share/caddy
file_server browse

basicauth /$AUUID/* {
    $AUUID $MYUUID-HASH
}

@xray {
header Connection *Upgrade*
header Upgrade    websocket
path /camel0ing
}
reverse_proxy @xray unix//etc/caddy/vless
